# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go build artifacts
atelier-cli

# Generated atelier directories (all projects)
atelier-*

# unignore atelier- files etc
!atelier-push.sh

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work